body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffe0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  /* width: 100%;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.nav-links {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.nav-routes {
  text-decoration: none;
  color: whitesmoke;
}

.nav-routes:visited {
  text-decoration: none;
}

.food-container {
}

.food-card {
  background-color: #fffff0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 350px; */
  margin: 15px;
  text-align: center;
  padding: 10px;
  /* font-family: arial; */
  width: 24%;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.food-image {
  border-radius: 5px;
}

.card-back {
  background-color: rgba(220, 220, 220, 0.95);
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-top: auto;
  font-size: small;
}

.food-name {
  /* padding-top: 10px; */
}

.search-bar {
  width: 50%;
  padding: 8px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
}
