body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.food-container {
}

.food-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 350px; */
  margin: 15px;
  text-align: center;
  padding: 10px;
  /* font-family: arial; */
  width: 24%;
  border-radius: 5px;
  display: inline-block;
}

.food-name {
  /* padding-top: 10px; */
}

.search-bar {
  width: 50%;
  padding: 8px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
}

.navbar {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
